/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Class Selectors */
/* Some Class Selectors with nested tags */
.navBar {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff; 
}

.navBar h1 {
    /* Display elements as inline-block */
    /* Allowed to be placed horizontally versus vertically and height and width can be adjusted and padding noted if added */
    display: inline-block;
    font-size: 48px;
}

.navBar h1 .seo {
    color: #d9dcd6;
}

.navBar nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navBar nav ul {
    list-style-type: none;
}

.navBar nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Element to be positioned on the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Element to be positioned on the right */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.strategies{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.strategies img {
    max-height: 200px;
}

.strategies h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    /* Set elements clear property to both */
    /* Elements can be pushed to right and left of elements that are floated */
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitTypes {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitTypes h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitTypes img {
    /* Sets display of image to block */
    /* Image takes up space available with a line and creates a line break before and after */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Id Selector */
#firstLineFooter {
    font-size: 20px;
    font-weight: bold;
}
